<div class="header-search-wrapper hide-on-med-and-down">
    <i class="material-icons">search</i>
    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Search a movie...">
</div>
<!--<div class="col">
  <div class="morphsearch-form">
    <div class="input-group col-md-12">
       <input #searchBox class="morphsearch-input" (keyup)="search(searchBox.value)" type="search" placeholder="Search a movie..." />
       <span class="input-group-btn">
          <button class="btn btn-search btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
          </button>
      </span>
      <div class="popover fade bottom in popoverresult" role="tooltip" style="display: block;">
        <div *ngIf="searchshow">
            <div *ngFor="let movie of movies | async"
                 (click)="gotoDetail(movie)" class="search-result" >
              {{movie.title}}
            </div>
        </div>
      </div>
   </div>
  </div>
</div>-->


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
